{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
